.TopBannerContainer {
    min-height: 400px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 4rem;
    margin-top: 5rem;
}

.TopBannerContainer h1 {
    font-size: 40px;
    margin-bottom: 0px;
}

.ProductMainImageContainer {
    min-height: 500px;
    width: 100%;
    background-color: #D9D9D9;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProductImagesContainer h1 {
    font-size: 40px;
}

.ProductSpecificationDetailsContainer {
    padding-left: 50px;
}

.ProductSpecificationDetailsContainer h1 {
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 80px;
}

.SingelProductPageContainerLayout {
    margin-top: 5rem;
    padding: 0rem 4rem;
}

.ButtonContainerProduct button:first-child {
    margin-left: 0px;
}

.ButtonContainerProduct button {
    background-color: #ECECEC;
    padding: 10px 40px;
    border-radius: 36px;
    border: none;
    margin: 0px 20px;
    color: black;
}

.ColorVariationContainer h3 {
    font-size: 28px;
}

.ColorVariationContainer ul {
    display: flex;
    align-items: center;
    padding: 0px;
}

.ColorVariationContainer ul li {
    background-color: #D9D9D9;
    width: 70px;
    height: 70px;
    list-style: none;
    margin: 0px 10px;
    border-radius: 50%;
}

.ProductOtherImageContainer {
    display: flex;
    flex-direction: column;
}

.ProductOtherImageContainer>div:first-child {
    margin-top: 0px;
}

.ProductOtherImageContainer>div {
    width: 104px;
    height: 103px;
    background-color: #D9D9D9;
    margin: 10px 20px;
    border-radius: 22px;
}

/* .ProductImagesContainer {
    display: flex;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
} */

.SpecificationContainer h2 {
    margin-bottom: 0px;
}

.BuyNowContainer {
    /* margin-top: 5rem; */
    padding: 0px 40px;
}

.BuyNowContainer h1 {
    font-size: 30px;
    margin-bottom: 20px;
    background-color: #bc252b0a;
    padding: 10px 10px;
}

/* .OptionsContainer .ant-row .ant-col:first-child .HeaderHeadingContainer {
    background-color: #868686;
} */

/* .OptionsContainer .ant-row .ant-col .HeaderHeadingContainer {
    background-color: #B2AAAA;
    padding: 20px 30px;
} */

.HeaderHeadingContainer h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
}

/* .logosContainer {
    background-color: #D9D9D9;
    padding-bottom: 20px;
} */

.logosContainer ul {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logosContainer ul li {
    background: white;
    list-style: none;
    height: 96px;
    border-radius: 22px;
    margin: 10px 0px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SIMILARPRODUCTSContainer {
    padding: 0px 40px;
    /* margin-top: 5rem; */
}

/* .SIMILARPRODUCTSContainer .HeaderContainer,
.ReviewContainer .HeaderContainer {
    padding: 0rem 4rem;
} */

/* .SIMILARPRODUCTSContainer h1 {
    font-size: 30px;
    margin-bottom: 20px;
    background-color: #bc252b0a;
    padding: 10px 10px;
} */

/* Full-width container with hidden overflow */
.OverflowContainerStyle {
    width: 4000px;
    overflow: hidden;
    display: flex;
    margin-left: -90px;
    align-items: center;
}

/* Child boxes with fixed width */
.OverlaygreyBox {
    width: 400px;
    height: 331px;
    background-color: grey;
    /* Set background color for visibility */
    margin-right: 70px;
    /* Add spacing between boxes if needed */
    border-radius: 20px;
}

.ReviewCardContainer {
    padding: 0rem 4rem;
}

.ReviewContainer {
    margin-top: 5rem;
}

.ReviewContainer h1 {
    font-size: 78px;
}

.reviewLeftSidephotoContainer {
    display: flex;
    align-items: center;
    /* justify-content: center; */



}

.reviewLeftSidephotoContainer>div {
    background-color: #D9D9D9;
    width: 278px;
    height: 228px;
}

.MassageContainer {
    width: 70%;
    display: flex;
    align-items: center;
    height: 100%;
    /* padding-left: 100px; */
}

.MassageContainer>div {
    width: 100%;
}

.MassageContainer h2 {
    margin: 0px;
}

.MassageContainer .ant-input {
    min-height: 100px;
}

.MassageContainer svg {
    color: #F9D978;
}

.DiscriptionGraphicsImage img {
    width: 100%;
    position: absolute;
    right: -10rem;
    height: 100%;

}

@media (min-width:1500px) and (max-width:3000px) {
    .SingelProductPageContainerLayout {
        margin-top: 5rem;
        padding: 0rem 10rem;
    }

    .BuyNowContainer {
        margin-top: 5rem;
        padding: 0rem 10rem;
    }

    .SIMILARPRODUCTSContainer .HeaderContainer,
    .ReviewContainer .HeaderContainer {
        padding: 0rem 0rem;
    }

    .SIMILARPRODUCTSContainer {
        padding: 0rem 10rem;
    }

    .ReviewCardContainer {
        padding: 0rem 10rem;
    }
    .SingleProductContainer{
        padding: 0rem 10rem;
    }
    .ProductCard {
        background: #ffffff;
        padding: 80px 8rem !important;
        padding-top: 0rem !important;
    }
}

.ProductCard {
    background: #ffffff;
    padding: 0px 0rem ;
    /* padding-top: 2rem ; */
}

.ProductMainImageContainer img {
    width: 200px;
}

.ProductTitle {
    padding-left: 0px;
}

.ProductTitle .ProductTitleContainer p {
    margin-top: 0px;
}

.ProductTitleContainer h2 {
    font-size: 34px;
    margin-bottom: 0px;
    font-weight: 800;
}

.ProductTitleContainer p {
    margin-top: 5px;
}

.ProductTitle h2 {
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 0px;
    color: #2f2b2b;
}

.SimilarProductCard {
    height: 300px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    /* border: 1px dashed #bc252a72; */
    background-color: white;
}

.SimilarProductCard img {
    width: 80%;
    aspect-ratio: 3/2;
    /* height: 300px; */
    object-fit: contain;
    transition: .5s;
}

.SimilarProductCard:hover img {
    transform: scale(1.06);
    transition: .5s;
}

.ImageContainer {
    height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .productSpecificatinContainer p b{
width: 150px !important;
} */
.ProductTitle hr {
    margin: 20px 0px;
}

.productSpecificatinContainer p {
    /* margin-bottom: 0px;
    margin-top: 0px; */
    padding-bottom: 0px;
    margin: 7px 0px;
    /* border-bottom: 0.5px solid rgba(0, 0, 0, 0.196); */
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
    color: #2e2e2e;
    /* padding-top: 10px; */
}

.productSpecificatinContainer p b::after {
    content: ":";
}

.SingleProductPageContainer {
    background-color: #ffffff;
}

.OtherImageThumbnail {
    cursor: pointer;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #efefef;
}

.OtherImageThumbnail img {
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 2;
    object-fit: contain;
}



.ProductImageContainer img {
    height: 90%;
    width: 90%;
    aspect-ratio: 3/2;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    border-radius: 20px;
}

.OnMobileOnly {
    margin-left: 20px !important;
    position: relative;
}


/* .OnPCOnly {
    display: flex;
    flex-direction: column;
    align-items: end;
} */

/* .OnPCOnly .swiper-slide {
    margin-bottom: 10px !important;
} */
.ColorsContainer div ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0px;
}

.ColorsContainer div ul li {
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
}

/* .ColorsContainer div .ColorSwatch:first-child{
    display: none;
} */
.OnPCOnly {
    display: block;
    position: relative;
}

.OnPCOnly .prev {
    position: absolute;
    left: 10px;
    z-index: 55;
    top: 0px;
    right: 10px;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 2px;
}

.OnPCOnly .next {
    position: absolute;
    left: 10px;
    z-index: 55;
    bottom: 0px;
    right: 10px;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 2px;
}

.OnPCOnly .next svg,
.OnPCOnly .prev svg {
    background-color: black;
    padding: 0px 0px;
    font-size: 15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: white;
}

.OnPCOnly .swiper {
    position: absolute;
    /* height: 100%; */
    top: 20px;
    bottom: 20px;
    margin-left: 10px;
}

.OnMobileOnly {
    display: none;
}

.productSpecificatinContainer .ProductFeaturesList p {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.productSpecificatinContainer .ProductFeaturesList p b {
    width: 180px;
}

.productSpecificatinContainer .ProductFeaturesList p::before {
    content: "";
    display: inline-flex;
    background-color: black;
    height: 5px;
    width: 5px;
    margin-right: 6px;
    border-radius: 50%;
}

.MRPButtonsContainer {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.MRPButtonsContainer>div {
    display: flex;
    gap: 10px;
}

.MRPButtonsContainer button {
    border: none;
    background-color: #F9D32B;
    padding: 10px 30px;
    color: black;
    border-radius: 6px;
}

@media (max-width:900px) {
    .productSpecificatinContainer .ProductFeaturesList p b {
        width: unset;
    }

    .OnMobileOnly {
        margin-left: 0px !important;
    }

    .ProductTitle {
        padding-left: 10px;
        padding-top: 20px;
    }

    .OnPCOnly {
        display: none;
    }

    .OnMobileOnly {
        display: block;
    }

    .ProductImageContainer .ant-image-img {
        height: 100%;
    }

    .SIMILARPRODUCTSContainer {
        padding: 0px 10px;
        margin-top: 0rem;
    }

    .MassageContainer {
        width: 100%;
        display: flex;
        align-items: center;
        height: 100%;
        /* padding-left: 100px; */
    }

    .reviewLeftSidephotoContainer>div {
        background-color: #D9D9D9;
        width: 100%;
        height: 228px;
    }

    .ReviewCardContainer {
        padding: 0rem 1rem;
    }

    .ReviewContainer h1 {
        font-size: 50px;
    }

    .BuyNowContainer h1 {
        font-size: 30px;
        margin-bottom: 20px;

    }

    .OverlaygreyBox {
        width: 200px;
        height: 200px;
        background-color: grey;
        /* Set background color for visibility */
        margin-right: 70px;
        /* Add spacing between boxes if needed */
        border-radius: 20px;
    }

    .SIMILARPRODUCTSContainer .HeaderContainer,
    .ReviewContainer .HeaderContainer {
        padding: 0rem 0rem;
    }

    /* .SIMILARPRODUCTSContainer h1 {
        font-size: 30px;
        margin-bottom: 20px;
        background-color: #bc252b0a;
        padding: 10px 10px;
    } */

    .logosContainer ul li {
        background: white;
        list-style: none;
        height: 96px;
        border-radius: 22px;
        margin: 10px 0px;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .BuyNowContainer {
        margin-top: 5rem;
        padding: 0rem 1rem;
    }

    .SpecificationContainer ul li {
        width: 100%;
    }

    .ProductSpecificationDetailsContainer {
        padding-left: 0px;
    }

    .ProductSpecificationDetailsContainer h1 {
        font-size: 50px;
        margin-bottom: 0px;
        margin-top: 0px;
        line-height: 80px;
    }

    .ProductOtherImageContainer>div {
        width: 104px;
        height: 103px;
        background-color: #D9D9D9;
        margin: 10px 20px;
        border-radius: 22px;
        margin-left: 0px !important;
    }

    .SingelProductPageContainerLayout {
        margin-top: 5rem;
        padding: 0rem 1rem;
    }

    .TopBannerContainer {
        min-height: 400px;
        background-color: #D9D9D9;
        display: flex;
        align-items: end;
        padding: 0rem 1rem;
        margin-top: 5rem;
    }

    .TopBannerContainer h1 {
        font-size: 50px;
        margin-bottom: 0px;
    }
}



.SingleProductContainer {
    padding: 80px 40px;
    padding-top: 6rem !important;
}

.SingleProductContainer .ProductImageContainer {
    height: 100%;
    /* width: 100%; */
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 1px solid #efefef;
    background-color: white;
    justify-content: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    position: relative;
    /* padding-right: 20px; */
    /* background-color: red; */
}

/* .SingleProductContainer .ProductImageContainer img {
 height: 100%;
} */
/* .OnPCOnly>div {
    margin-right: 10px;

} */

.OnPCOnly>div::-webkit-scrollbar {
    width: 1px;
    /* Width of the scrollbar */
}

.OnPCOnly>div::-webkit-scrollbar-track {
    background: #f0f0f0;
    /* Background color of the track */
    border-radius: 4px;
    /* Rounded corners for the track */
}

.OnPCOnly>div::-webkit-scrollbar-thumb {
    background: #e9e9e9;
    /* Color of the scrollbar thumb */
    border-radius: 4px;
    /* Rounded corners for the thumb */
}

.OnPCOnly>div::-webkit-scrollbar-thumb:hover {
    background: #ededed;
    /* Change thumb color on hover */
}

/* Firefox Styling */
.OnPCOnly>div {
    scrollbar-width: thin;
    /* Make the scrollbar thin */
    scrollbar-color: #cac9c9 #f0f0f0;
    /* Thumb color and track color */
}

.FeaturesIcons {
    position: absolute;
    left: 0px;
    top: 0px;

}

.FeaturesIcons img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 13px;
    margin-bottom: 10px;
    border-radius: 0px;
}


@media (max-width:900px) {
    .SpecificationContainer .FeaturesIcons {
        position: static !important;
        display: flex;
        justify-content:start;
        gap: 20px;
    }

    .SpecificationContainer .FeaturesIcons img {
        /* margin-left: 0px !important; */
        height: unset;
        height: unset;
        margin: 0px !important;
    }

    .ProductCard {
        padding: 10px 0px !important;
    }

    .ProductImageContainer img {
        height: 100%;
        width: 100%;
        aspect-ratio: 3/2;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: white; */
        border-radius: 20px;
    }

    .SingleProductContainer {
        padding: 80px 10px;
        padding-top: 5rem !important;
    }

    .OnMobileOnly>div {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0px;
    }
}