.TopBannerContainer {
    min-height: 400px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 4rem;
    margin-top: 5rem;
}

.TopBannerContainer h1 {
    font-size: 40px;
    margin-bottom: 0px;
}

.ProductMainImageContainer {
    min-height: 500px;
    width: 100%;
    background-color: #D9D9D9;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProductImagesContainer h1 {
    font-size: 40px;
}

.ProductSpecificationDetailsContainer {
    padding-left: 50px;
}

.ProductSpecificationDetailsContainer h1 {
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 80px;
}

.SingelProductPageContainerLayout {
    margin-top: 5rem;
    padding: 0rem 4rem;
}

.ButtonContainerProduct button:first-child {
    margin-left: 0px;
}

.ButtonContainerProduct button {
    background-color: #ECECEC;
    padding: 10px 40px;
    border-radius: 36px;
    border: none;
    margin: 0px 20px;
    color: black;
}

.ColorVariationContainer h3 {
    font-size: 28px;
}

.ColorVariationContainer ul {
    display: flex;
    align-items: center;
    padding: 0px;
}

.ColorVariationContainer ul li {
    background-color: #D9D9D9;
    width: 70px;
    height: 70px;
    list-style: none;
    margin: 0px 10px;
    border-radius: 50%;
}

.ProductOtherImageContainer {
    display: flex;
    flex-direction: column;
}

.ProductOtherImageContainer>div:first-child {
    margin-top: 0px;
}

.ProductOtherImageContainer>div {
    width: 104px;
    height: 103px;
    background-color: #D9D9D9;
    margin: 10px 20px;
    border-radius: 22px;
}

.ProductImagesContainer {
    display: flex;

}

.SpecificationContainer h2 {
    margin-bottom: 0px;
}

.BuyNowContainer {
    /* margin-top: 5rem; */
    padding: 0px 40px;
}

.BuyNowContainer h1 {
    font-size: 30px;
    margin-bottom: 20px;
    background-color: #bc252b0a;
    padding: 10px 10px;
}

/* .OptionsContainer .ant-row .ant-col:first-child .HeaderHeadingContainer {
    background-color: #868686;
} */

/* .OptionsContainer .ant-row .ant-col .HeaderHeadingContainer {
    background-color: #B2AAAA;
    padding: 20px 30px;
} */

.HeaderHeadingContainer h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
}

/* .logosContainer {
    background-color: #D9D9D9;
    padding-bottom: 20px;
} */

.logosContainer ul {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logosContainer ul li {
    background: white;
    list-style: none;
    height: 96px;
    border-radius: 22px;
    margin: 10px 0px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SIMILARPRODUCTSContainer {
    padding: 0px 40px;
    margin-top: 5rem;
}

/* .SIMILARPRODUCTSContainer .HeaderContainer,
.ReviewContainer .HeaderContainer {
    padding: 0rem 4rem;
} */

.SIMILARPRODUCTSContainer h1 {
    font-size: 30px;
    margin-bottom: 20px;
    background-color: #bc252b0a;
    padding: 10px 10px;
}

/* Full-width container with hidden overflow */
.OverflowContainerStyle {
    width: 4000px;
    overflow: hidden;
    display: flex;
    margin-left: -90px;
    align-items: center;
}

/* Child boxes with fixed width */
.OverlaygreyBox {
    width: 400px;
    height: 331px;
    background-color: grey;
    /* Set background color for visibility */
    margin-right: 70px;
    /* Add spacing between boxes if needed */
    border-radius: 20px;
}

.ReviewCardContainer {
    padding: 0rem 4rem;
}

.ReviewContainer {
    margin-top: 5rem;
}

.ReviewContainer h1 {
    font-size: 78px;
}

.reviewLeftSidephotoContainer {
    display: flex;
    align-items: center;
    /* justify-content: center; */



}

.reviewLeftSidephotoContainer>div {
    background-color: #D9D9D9;
    width: 278px;
    height: 228px;
}

.MassageContainer {
    width: 70%;
    display: flex;
    align-items: center;
    height: 100%;
    /* padding-left: 100px; */
}

.MassageContainer>div {
    width: 100%;
}

.MassageContainer h2 {
    margin: 0px;
}

.MassageContainer .ant-input {
    min-height: 100px;
}

.MassageContainer svg {
    color: #F9D978;
}


@media (min-width:1500px) and (max-width:3000px) {
    .SingelProductPageContainerLayout {
        margin-top: 5rem;
        padding: 0rem 10rem;
    }

    .BuyNowContainer {
        margin-top: 5rem;
        padding: 0rem 10rem;
    }

    .SIMILARPRODUCTSContainer .HeaderContainer,
    .ReviewContainer .HeaderContainer {
        padding: 0rem 0rem;
    }

    .SIMILARPRODUCTSContainer {
        padding: 0rem 10rem;
    }

    .ReviewCardContainer {
        padding: 0rem 10rem;
    }

}

.ProductCard {
    background: #f4f4f470;
    padding: 80px 20px !important;
}

.ProductMainImageContainer img {
    width: 200px;
}

.ProductTitle h2 {
    font-size: 30px;
    font-weight: 500;
}

.SimilarProductCard {
    height: 300px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    border: 1px dashed #bc252a72;
}

.SimilarProductCard img {
    width: 200px;
}

.ImageContainer {
    height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.productSpecificatinContainer p {
    margin-bottom: 0px;
    margin-top: 0px;
}

.productSpecificatinContainer p b::after {
    content: ":";
}

@media (max-width:900px) {
    .MassageContainer {
        width: 100%;
        display: flex;
        align-items: center;
        height: 100%;
        /* padding-left: 100px; */
    }

    .reviewLeftSidephotoContainer>div {
        background-color: #D9D9D9;
        width: 100%;
        height: 228px;
    }

    .ReviewCardContainer {
        padding: 0rem 1rem;
    }

    .ReviewContainer h1 {
        font-size: 50px;
    }

    .BuyNowContainer h1 {
        font-size: 30px;
        margin-bottom: 20px;

    }

    .OverlaygreyBox {
        width: 200px;
        height: 200px;
        background-color: grey;
        /* Set background color for visibility */
        margin-right: 70px;
        /* Add spacing between boxes if needed */
        border-radius: 20px;
    }

    .SIMILARPRODUCTSContainer .HeaderContainer,
    .ReviewContainer .HeaderContainer {
        padding: 0rem 1rem;
    }

    .SIMILARPRODUCTSContainer h1 {
        font-size: 30px;
        margin-bottom: 20px;
        background-color: #bc252b0a;
        padding: 10px 10px;
    }

    .logosContainer ul li {
        background: white;
        list-style: none;
        height: 96px;
        border-radius: 22px;
        margin: 10px 0px;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .BuyNowContainer {
        margin-top: 5rem;
        padding: 0rem 1rem;
    }

    .SpecificationContainer ul li {
        width: 100%;
    }

    .ProductSpecificationDetailsContainer {
        padding-left: 0px;
    }

    .ProductSpecificationDetailsContainer h1 {
        font-size: 50px;
        margin-bottom: 0px;
        margin-top: 0px;
        line-height: 80px;
    }

    .ProductOtherImageContainer>div {
        width: 104px;
        height: 103px;
        background-color: #D9D9D9;
        margin: 10px 20px;
        border-radius: 22px;
        margin-left: 0px !important;
    }

    .SingelProductPageContainerLayout {
        margin-top: 5rem;
        padding: 0rem 1rem;
    }

    .TopBannerContainer {
        min-height: 400px;
        background-color: #D9D9D9;
        display: flex;
        align-items: end;
        padding: 0rem 1rem;
        margin-top: 5rem;
    }

    .TopBannerContainer h1 {
        font-size: 50px;
        margin-bottom: 0px;
    }
}



.SingleProductContainer {
    padding: 80px 40px;
    padding-top: 8rem !important;
}

.ProductCard {
    padding: 80px 0px;
}

.SingleProductContainer .ProductImageContainer {
    height: 400px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.SingleProductContainer .ProductImageContainer img {
    width: 500px;
}

@media (max-width:900px) {
    .SingleProductContainer .ProductImageContainer img {
        width: 100%;
    }

    .SingleProductContainer {
        padding: 80px 0px;
        padding-top: 8rem !important;
    }
}