.OurServicesContainer {
    margin-top: 5rem;
}

.RowColumnsAdjustContainer {
    padding-top: 5rem !important;
    padding: 0px 40px;
}

.OurServicesContainer .SectionHeadingContainer {
    padding: 0rem 0rem;
    background-color: rgb(149, 179, 224);
}

.OurServicesContainer .SectionHeadingContainer img {
    width: 100%;
}

.OurServicesContainer div h1 {
    font-size: 30px;
    margin-top: 0px;
    text-align: center;
    text-transform: capitalize;
    background-color: #bc252b0a;
    width: 100%;
}

.OurServicesContainer h1 {
    margin-top: 80px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #bc252b0a;
}

/* .PendingGrayBox{
   height: 350px;
    width: 100%;
    background: #D9D9D9;
    overflow: hidden;
    border-radius: 20px;
} */
/* .PendingGrayBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.AdjustWidthSection {
    width: 100%;
    padding: 80px 40px;
    position: relative;
    overflow: hidden;
}

.AdjustWidthSection .BackSVG {
    position: absolute;
    top: 0px;
    left: 0px;
}

.AdjustWidthSection .BackSVG svg path {
    fill: #faf2e8;
}

.AdjustWidthSection button {
    background-color: #D9D9D9;
    padding: 10px 40px;
    color: black;
    border: none;

}

.AjustCenterContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;
}

/* .AdjustWidthSection p{
    text-align: center;
} */
.AdjustWidthSection .ant-row .ant-col:first-child {
    display: flex;
    align-items: center;
}

.AdjustWidthSection .ant-row .ant-col:last-child {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.ImageAdjust .ant-row .ant-col .ant-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;

}

.ImageAdjust .ant-row .ant-col .ant-image img {
    border-radius: 10px;
}

.ImageAdjust .ant-row .ant-col:first-child {
    padding: 80px 10px;
    padding-bottom: 0px !important;
}

.ImageAdjust .ant-row .ant-col:first-child .ant-image-img {
    width: 100%;
    /* margin-top: 80px; */
}

.ImageAdjust .ant-row .ant-col:nth-child(2) {
    padding: 10px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.ImageAdjust .ant-row .ant-col:nth-child(2) .ant-image-img {
    width: 100%;
    /* margin-top: 10px; */
}

.ImageAdjust .ant-row .ant-col:last-child {
    padding: 80px 10px;
    padding-bottom: 0px !important;
}

.ImageAdjust .ant-row .ant-col:last-child .ant-image-img {
    width: 100%;
    /* margin-top: 80px; */
}

.BlankGrayBoxContainer {
    /* background-color: #D9D9D9; */
    width: 100%;
    /* height: 100%; */
    /* height: 250px; */
    overflow: hidden;
    border-radius: 10px;
}

.BlankGrayBoxContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.RowColumnsAdjustContainer .ant-row .ant-col div h2 {
    font-size: 20px;
    margin-bottom: 0px;
}

.RowColumnsAdjustContainer .ant-row .ant-col>div {
    padding: 40px;
}

/* .RowColumnsAdjustContainer .ant-row .ant-col:first-child div {
    padding: 80px 0px;
    padding-right: 30px !important;

} */


/* .RowColumnsAdjustContainer button{
    background-color: #D9D9D9;
    padding: 10px 40px;
    color: black;
    border: none;
} */
.OurServicesParagraph .ant-row .ant-col div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
    width: 100%;
}

.OurServicesParagraph p {
    width: 70%;
    text-align: center;
    font-size: 18px;
}

.PendingGrayBox .ant-row .ant-col .ant-image {
    width: 100%;
}

/* .PendingGrayBox .ant-row .ant-col div .ant-image-img{
    width: 100%;
    height: 100%;
} */
.AdjustWidthSection h1 {
    font-size: 25px;
    /* background-color: #bc252b0a; */
    padding: 5px 10px;
}

/* @media (min-width:1500px) and (max-width:3000px) {

    .OurServicesContainer {
        padding-top: 5rem !important;
        padding: 0px 150px;
    }
} */

@media (max-width:769px) {
    .ContactContainerandSocial {
        display: flex;
        gap: 20px;
    }

    .RowColumnsAdjustContainer {
        padding-top: 5rem !important;
        padding: 0px 10px;
    }

    .AjustCenterContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0px 10px;
    }

    .BlankGrayBoxContainer {
        background-color: #D9D9D9;
        width: 100%;
        /* height: 100%; */
        height: 200px;
        overflow: hidden;
        border-radius: 20px;
    }

    .RowColumnsAdjustContainer .ant-row .ant-col>div {
        padding: 0px;
    }

    .AdjustWidthSection {
        width: 100%;
        padding: 20px 0px;
    }

    .RowColumnsAdjustContainer .ant-row {
        margin: 0px 0px;
    }

    .ImageAdjust .ant-row .ant-col:first-child {
        padding: 80px 0px;
        padding-bottom: 0px !important;
    }



    .OURLEADERSHIPContainer .ant-row .ant-col {
        width: 50%;
    }

    .OURLEADERSHIPContainer .ant-row .ant-col .CerticationCardGreyBox {
        min-height: 120px;
    }

    .AdjustWidthSection .ant-row .ant-col:last-child {
        display: flex;
        align-items: center;
        padding-left: 0px;
    }

    .PendingGrayBox {
        height: 100%;
        width: 100%;
        /* background: #D9D9D9; */
        overflow: hidden;
        /* border-radius: 20px; */
    }

    .PendingGrayBox .ant-row .ant-col {
        width: 33% !important;
    }

    .OurServicesContainer {
        margin-top: 4rem !important;
        /* padding-top: 5rem !important; */
        padding: 0px 0px;
    }

    .OurServicesParagraph p {
        width: 100%;
        text-align: center;
        font-size: 18px;
    }

    .AdjustWidthSection {
        width: 100%;
        margin-bottom: 20px;
    }

    .RowColumnsAdjustContainer .ant-row .ant-col:first-child div {
        /* padding: 0px 0px; */
        padding-right: 0px !important;
        /* min-height: 120px; */

    }

}