#ImageStickyContainer {
    padding: 80px 40px;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
}

.WhyUsContainer {
    position: relative;
    /* overflow: hidden; */
    /* Create a background that goes from #FCDD54 (left) to #FFD000 (right) */
    background: linear-gradient(to right, #FCDD54, #FFD000);
    padding: 60px 40px;
}


.WhyUsContainer .QuestionMarkImage {
    position: absolute;
    right: 30px;
    width: 230px;
    top: -50px;
    z-index: 4;
    transition: .5s;
}

.stickyContainer {
    position: sticky;
    top: 30%;
    z-index: 5;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AnimatedImageContainer .ant-row .ant-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.AnimatedImageContainer .ant-row .ant-col:nth-child(2) img {
    margin-top: 100px;
    opacity: 0 !important;
}

.AnimatedImageContainer .ant-row .ant-col img {
    width: 70%;
    border-radius: 20px;
}

.AnimatedImageContainer img {
    opacity: 0.4;
    /* Start completely transparent */
    transition: opacity 0.3s ease;
    /* Smooth fade transition */
    will-change: opacity;
    /* Optimize for better performance */
}

.AnimatedImageContainer {
    position: relative;
    overflow: hidden;
}

.AnimatedImageContainer img.fade-image {
    transform: translateY(10px);
}

.BlackOverlayContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.419);
    width: 100%;
    height: 100%;

}

.WriteUpRelatedCompany {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    z-index: 5;
}

.WriteUpRelatedCompany div p {
    text-align: center;
    color: white;
}

.WriteUpRelatedCompany div h2 {
    text-align: center;
    color: white;
    font-size: 35px;
}

.WriteUpRelatedCompany div {
    width: 60%;
}

.WriteUpRelatedCompany button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #F8D966;
    border: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
    transition: .5s;
}

.WriteUpRelatedCompany button:hover {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #F8D966;
    border: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
    transform: scale(1.1);
    transition: .5s;
    cursor: pointer;
}

#ImageStickyContainer h1 {
    font-size: 40px;
    /* text-align: center; */
    color: #000000;
    margin-top: 0px;
}

.KnowMorebtn {
    padding: 8px 40px;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    color: rgb(188, 37, 43);
    border: 1px solid rgb(188, 37, 43);
    transition: .5s;
    cursor: pointer;
}

.KnowMorebtn:hover {
    padding: 8px 40px;
    background-color: rgb(188, 37, 43);
    border-radius: 5px;
    border: none;
    color: white;
    border: 1px solid rgb(188, 37, 43);
    transition: .5s;
    cursor: pointer;
}


#ImageStickyContainer .headingHeaderContainer {
    padding: 0rem 4rem;
}

.WhyUsContainer p {
    text-align: center;
    color: rgb(0, 0, 0);
    width: 70%;
    font-size: 18px;
    /* font-size: 50px; */
}

.WhyUsContainer .BackSVG {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    opacity: 0.5;

}

.WhyUsContainer .BackSVG svg path {
    fill: #fcf9f4;
}

#ImageStickyContainer .WhyUsContainer {
    /* min-height: 300px; */
    width: 100%;
    /* background: #A1A1A1; */
    /* padding: 50px 0px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

@media (max-width:900px) {
    .WhyUsContainer .QuestionMarkImage {
        position: absolute;
        right: 0px;
        width: 100px;
        top: 0px;
        z-index: 4;
        bottom: unset;
        transition: .5s;
    }
    
    .WhyUsContainer {
        padding: 50px 10px;
    }

    .WhyUsContainer p {
        text-align: center;
        color: rgb(0, 0, 0);
        width: 100%;
        /* font-size: 50px; */
    }



    #ImageStickyContainer h1 {
        font-size: 50px;
        text-align: center;
        color: #253874;
    }

    #ImageStickyContainer {
        /* height: 50vh; */
        padding-top: rem !important;
        padding: 0rem 0rem;
        overflow: hidden;
        padding-bottom: 0rem !important;
        position: relative;
        background-size: cover;
        background-attachment: fixed;
        /* margin-top: 3rem; */
    }

    .WriteUpRelatedCompany div {
        width: 100%;
    }

    #ImageStickyContainer .headingHeaderContainer {
        padding: 0rem 1rem;
    }

    #ImageStickyContainer .WhyUsContainer {
        min-height: 300px;
        width: unset;
        padding: 20px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
}

@media (min-width:1500px) and (max-width:3000px) {
    #ImageStickyContainer .headingHeaderContainer {
        padding: 0rem 10rem;
    }
}