#ImageStickyContainer {
    /* height: 50vh; */
    padding-top: 5rem !important;
    padding: 0rem 0rem;
    overflow: hidden;
    padding-bottom: 5rem !important;
    position: relative;
    /* background-image: url("../../../../public/Images/HomeStickyImageback.jpeg"); */
    background-size: cover;
    background-attachment: fixed;
    /* margin-top: 3rem; */
}

.BlackOverlayContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.419);
    width: 100%;
    height: 100%;

}

.WriteUpRelatedCompany {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    z-index: 5;
}

.WriteUpRelatedCompany div p {
    text-align: center;
    color: white;
}

.WriteUpRelatedCompany div h2 {
    text-align: center;
    color: white;
    font-size: 35px;
}

.WriteUpRelatedCompany div {
    width: 60%;
}

.WriteUpRelatedCompany button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #F8D966;
    border: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
    transition: .5s;
}

.WriteUpRelatedCompany button:hover {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #F8D966;
    border: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
    transform: scale(1.1);
    transition: .5s;
    cursor: pointer;
}

#ImageStickyContainer h1 {
    font-size: 78px;
    text-align: center;
    color: #253874;
}

#ImageStickyContainer .headingHeaderContainer {
    padding: 0rem 4rem;
}



.WhyUsContainer h2 {
    font-size: 78px;
    text-align: center;
}

.WhyUsContainer p {
    text-align: center;
    font-size: 50px;
}

#ImageStickyContainer .WhyUsContainer {
    min-height: 300px;
    width: 100%;
    background-color: #BC252B;
    padding: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
@media (max-width:900px) {

    .WhyUsContainer h2 {
        font-size: 50px;
        text-align: center;
    }

    #ImageStickyContainer h1 {
        font-size: 50px;
        text-align: center;
        color: #253874;
    }

    /* #ImageStickyContainer {
        height: 50vh;
        padding-top: 5rem !important;
        padding: 0rem 1rem;
        overflow: hidden;
        padding-bottom: 5rem !important;
        position: relative;
        background-image: url("../../../../public/Images/HomeStickyImageback.jpeg");
        background-size: cover;
        background-attachment: fixed;
        margin-top: 3rem;
    } */
    #ImageStickyContainer {
        /* height: 50vh; */
        padding-top: 5rem !important;
        padding: 0rem 0rem;
        overflow: hidden;
        padding-bottom: 5rem !important;
        position: relative;
        /* background-image: url("../../../../public/Images/HomeStickyImageback.jpeg"); */
        background-size: cover;
        background-attachment: fixed;
        /* margin-top: 3rem; */
    }

    .WriteUpRelatedCompany div {
        width: 100%;
    }

    #ImageStickyContainer .headingHeaderContainer {
        padding: 0rem 1rem;
    }

    #ImageStickyContainer .WhyUsContainer {
        min-height: 300px;
        width: 100%;
        background-color: #BC252B;
        padding: 50px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
}

@media (min-width:1500px) and (max-width:3000px) {
    #ImageStickyContainer .headingHeaderContainer {
        padding: 0rem 10rem;
    }
}