#AboutSEDOSection {
    padding-top: 5rem;
    position: relative;
    /* background-color: #A5252B; */

}

.overlayContainer {
    background-color: #00000059;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50vh;
    width: 100%;
    z-index: 2;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.2) 70%);
    background-size: 200% 100%;
    animation: shineEffect 2s linear infinite;

}

@keyframes shineEffect {
    0% {
        background-position: -200% 0;
        /* Start from left */
    }

    100% {
        background-position: 200% 0;
        /* End at right */
    }
}

.overlayContainersecond {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.086);
    z-index: 1;
}

.AboutUsContentContainer {
    padding-top: 5rem !important;
    padding: 0rem 4rem;

}

.HoverableImage {
    height: 100%;
    /* width: 100%; */
    padding: 0rem 2rem;
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.HoverableImage img {
    width: 70%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.ServicesStickyCards {
    display: flex;
    background-color: rgba(255, 255, 255, 0.583);
    /* margin-bottom: 20px; */
    /* height: 35vh; */
    transition: .5s;
    border-bottom: 1px solid #e5e5e5 !important;
    border: 1px solid rgb(255, 255, 255);
    /* padding: 30px 0px; */
    height: 100%;
}


.AnimatedContent {
    padding: 0rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.AnimatedContent p {
    margin: 0px;
}

.LeftSideContentContainer {
    /* position: sticky;
    top: 40%; */
    /* padding-right: 3rem; */
    /* padding-left: 3rem; */
}


.LeftSideContentContainer h1 {
    font-size: 70px;
    position: absolute;
    margin-top: 1.8rem;
    text-transform: uppercase;
    color: rgba(128, 128, 128, 0.053);
    /* Base gray color for the text */
    background-image: linear-gradient(45deg,
            rgba(151, 151, 151, 0.1) 30%,
            /* Overlay black gradient */
            rgba(0, 0, 0, 0.086) 50%,
            rgba(157, 157, 157, 0.1) 70%);
    background-size: 400%;
    /* Allows gradient movement */
    -webkit-background-clip: text;
    /* Clips the background gradient to text */
    background-clip: text;
    color: transparent;
    /* Makes the base color visible with gradient animation */
    animation: Heading 4s linear infinite;
    /* Smooth animation */
}

@keyframes Heading {
    0% {
        background-position: -200% 0;
        /* Start far left */
    }

    100% {
        background-position: 200% 0;
        /* Move to far right */
    }
}

.imageAnimation {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.imageAnimation svg {
    /* position: absolute;
    top: 25px;
    left: -5px; */
    color: black;
    width: 20px;
    height: 20px;
    margin: 0px;
}

.imageAnimation h2 {
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
}

#AboutUs .NavigationLogo.hidden {
    opacity: 1;
    transform: translateY(-0px);
}

.TopLinksContainer {
    display: flex;
    justify-content: center;
    /* width: 100%; */

    border-radius: 20px;
    padding: 0rem 4rem;

}

.TopLinksContainer>div {
    width: 100%;
    border: 1px solid #999;
    padding: 10px 0px;
}

.TopLinksContainer>div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.LeftSideContentContainer {
    display: flex;
    justify-content: center;
}

.LeftSideContentContainer>div {
    width: 60%;
}

.LeftSideContentContainer>div p {
    text-align: center;
}

.AboutUsInsideCarBanner img {
    width: 60%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    border-radius: 10px;
}

.AboutUsInsideCarBanner {
    height: 40vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
}

#WidthAjustContainer {
    width: 50%;
    min-height: 300px;
    /* overflow: auto; */
}


@media (min-width:700px) and (max-width:1100px) {
    #WidthAjustContainer {
        width: 50%;
        min-height: 300px;
        /* overflow: auto; */
    }
}

@media (max-width:769px) {
    #WidthAjustContainer {
        width: 100%;
        min-height: 300px;
        /* overflow: auto; */
    }

    .AboutUsInsideCarBanner img {
        width: 100%;
        height: 100%;
        background-size: cover;
        object-fit: cover;
        border-radius: 10px;
    }

    .LeftSideContentContainer>div {
        width: 100%;
    }

    .ServicesStickyCards:hover {
        display: flex;
        background-color: rgba(244, 244, 244, 0.583);
        margin-bottom: 20px;
        /* height: 35vh; */
        transition: .5s;
        padding: 50px 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
        border: 1px solid rgb(232, 232, 232);
        border-radius: 10px;
    }

    .LeftSideContentContainer {
        /* position: sticky;
        top: 40%; */
        padding-right: 0rem;
        /* padding-left: 3rem; */
    }

    .ServicesStickyCards {
        flex-direction: column;
        padding: 30px 10px;
        height: unset;
    }

    .AnimatedContent {
        padding: 0;
    }

    .HoverableImage {
        justify-content: center;
        padding: 1rem 0rem;
    }

    .HoverableImage img {
        width: 100%;
    }
}




.TopVideoContainer {
    height: 500px;
    width: 100%;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TopVideoContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.AboutContentContainer {
    padding: 80px 0px;
}

.AboutContentContainer h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 800;
    margin-bottom: 0px;
}

.paddingContainer {
    padding: 0rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paddingContainer p {
    width: 60%;
    text-align: center;
    color: #000;
}

.FounderContent {
    width: 70%;
}

.FounderContent h1 {
    font-size: 40px;
    margin-top: 0px;
    /* font-weight: 400; */
}

.FounderContent p {
    font-size: 18px;
    color: black;
    font-weight: 400;
}

.founderSectionContainer {
    padding: 80px 40px;
}

.grayBoxContainer {
    height: 100%;
    /* width: 100%; */
    background-color: #D9D9D9;
    margin-left: 50px;
    border-radius: 47px;
}


.MilestonesContainerABout {
    min-height: 500px;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background-color: #A1A1A1;
    margin-top: 5rem;
}

.MilestonesContainerABout h1 {
    font-size: 40px;
    font-weight: 600;

}
/* 
.MissionContainer {
    margin-top: 5rem !important;
} */

.MissionContainer,
.VisionContainer,
.PurposeContainer {
    /* background-color: #D9D9D9; */
    padding: 80px 40px;
    /* margin-top: 2rem; */
}

.MissionContainer h1,
.VisionContainer h1,
.PurposeContainer h1 {
    font-size: 40px;
    color: #000;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.MissionContainer p,
.VisionContainer p,
.PurposeContainer p {
    text-align: center;
    color: #000;
}

.OURLEADERSHIPContainer{
    padding: 80px 0px;
}
.OURLEADERSHIPContainer h1 {
    font-size: 40px;
}

.LeaderShipHeaderContainer {
    padding: 0rem 4rem;
}

.LeaderShipCardContainer {

    padding: 0px 40px;
}

.LeaderShipCardContainerCard {
    border: 1px solid #000;
    margin: 20px;
    border-radius: 20px;
}

.LeaderShipCardContainerCard .LeaderShipImageCardContainer {
    height: 300px;
    width: 100%;
    background-color: #D9D9D9;
    border-radius: 20px;
}

.LeaderShipContentCardContainer {
    padding: 20px 30px;
}
.LeaderShipContentCardContainer h5{
    font-size: 18px;
margin: 0px;
}

.gridContainer .ant-row .ant-col {
    padding: 10px;
}

.gridContainer .ant-row .ant-col div {
    background: #BC252B;
    height: 300px;
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    transition: .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.gridContainer .ant-row .ant-col:hover div {
    /* height: 300px; */
    transition: .5s;
    background: #9D0006;
}


.gridContainer .ant-row .ant-col div p {
    opacity: 0;
    transition: .5s;
    color: white;
    text-align: start;
    /* transform: translatey(100px); */
}

.gridContainer .ant-row .ant-col div:hover p {
    opacity: 1;
    transition: .5s;
    color: white;
    text-align: start;

}



.gridContainer .ant-row .ant-col div h2 {
    font-size: 60px;
    color: white;
    transition: .5s;
    margin: 0px;
    transform: translateY(40px);
}

.gridContainer .ant-row .ant-col:hover div h2 {
    font-size: 50px;
    color: white;
    transition: .5s;
    transform: translateY(0px);
}

.OurJourneyContainer {
    padding: 80px 0px;
}

.JourneyImageContainer img:first-child {
    display: block;
    width: 100%;
}

.JourneyImageContainer img:last-child {
    display: none;
    width: 100%;
}

@media (max-width:900px) {
    .JourneyImageContainer img:first-child {
        display: none;
        width: 100%;
    }

    .JourneyImageContainer img:last-child {
        display: block;
        width: 100%;
    }

    .grayBoxContainer {
        height: 300px;
        /* width: 100%; */
        background-color: #D9D9D9;
        margin-left: 0px;
        border-radius: 47px;
    }

    .LeaderShipCardContainerCard {
        border: 1px solid #000;
        margin: 20px 0px;
        border-radius: 76px;
    }

    .LeaderShipCardContainer {

        padding: 0rem 1rem;
    }

    .LeaderShipHeaderContainer {
        padding: 0rem 1rem;
    }

    .OURLEADERSHIPContainer h1 {
        font-size: 50px;
    }

    .MissionContainer h1,
    .VisionContainer h1,
    .PurposeContainer h1 {
        font-size: 50px;
        color: #000;
        text-align: center;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .MissionContainer p,
    .VisionContainer p,
    .PurposeContainer p {
        padding: 0rem 1rem;
    }

    .MissionContainer,
    .VisionContainer,
    .PurposeContainer {
        background-color: #D9D9D9;
        padding: 50px 00px;
        margin-top: 2rem;
    }

    .MilestonesContainerABout {
        min-height: 300px;
        width: 100%;
        display: flex;
        /* align-items: center; */
        justify-content: center;
        background-color: #A1A1A1;
        margin-top: 5rem;
    }

    .MilestonesContainerABout h1 {
        font-size: 50px;
        font-weight: 600;

    }

    .founderSectionContainer {
        padding: 0rem 1rem;
    }

    .FounderContent {
        width: 100%;
    }

    .FounderContent h1 {
        font-size: 40px;
        margin-top: 0px;
    }

    .paddingContainer p {
        width: 100%;
        text-align: center;
        color: #000;
    }

    .paddingContainer {
        padding: 0rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .AboutContentContainer h1 {
        font-size: 50px;
        text-align: center;
        font-weight: 800;
        margin-bottom: 0px;
    }
}