#AboutContent {
    padding-top: 5rem !important;
    padding: 0rem 4rem;
}

#swiperContainerFirst {
    height: 50vh;
    overflow: hidden;
    width: 100%;
}

#swiperContainerSecond {
    height: 50vh;
    overflow: hidden;
    width: 100%;
}


#swiperContainerFirst .swiper-slide,
#swiperContainerSecond .swiper-slide {
    height: 50vh;
    display: flex;
    justify-content: center;
}


#swiperContainerFirst .swiper-slide img {
    height: 100%;
    /* width: 100%; */
    object-fit: cover;
}

#swiperContainerSecond .swiper-slide img {
    height: 100%;

    object-fit: cover;
}

.ContentContainerCarousal {
    display: flex;
    align-items: center;
    height: 100%;
}
.ContentContainerCarousal h2{
    /* margin-left: 10px; */
    margin-bottom: 0px;
    margin-top: 0px;
    color: red;
    font-weight: 500;
    text-transform: uppercase;
}
@media (max-width:769px){
    .AboutUsContentContainer{
        padding: 0rem 1rem;
    }
    #AboutContent{
        padding-top: 1rem !important;
        padding: 0rem 1rem;
    }
}