#Footer {
    padding-top: 4rem !important;
    padding: 0rem 4rem;
    background-color: #BC252B;
    margin-top: 3rem !important;
    padding-bottom: 1rem;
    color: white;
    /* min-height: 400px; */
}

#Footer .LinksContainer ul li {
    list-style: none;
    padding: 7px 0px;
}

.ContactContainerandSocial>div:nth-child(2) {
    display: flex;
    gap: 20px;
}

.ContactContainerandSocial>div:nth-child(2) p svg {
    font-size: 20px;
}
.FooterAdressContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}