#Footer {
    padding-top: 4rem !important;
    padding: 0rem 4rem;
    background: #253874;
    /* margin-top: 3rem !important; */
    padding-bottom: 1rem;
    color: white;
    /* min-height: 400px; */
}

#Footer .LinksContainer ul li {
    list-style: none;
    padding: 7px 0px;
    font-size: 18px;
    color: white;
    transition: .5s;
}
#Footer .LinksContainer ul li:hover {
    list-style: none;
    padding: 7px 0px;
    font-size: 18px;
    color: white;
    transform: translateX(10px);
    transition: .5s;
    /* border-bottom: 1px solid white; */
}
#Footer .LinksContainer ul{
    padding: 0px;
}

.ContactContainerandSocial>div:nth-child(2) {
    display: flex;
    gap: 20px;
}

.ContactContainerandSocial>div:nth-child(2) p svg {
    font-size: 30px;
}

.FooterAdressContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width:769px) {
    #Footer {
        padding-top: 4rem !important;
        padding: 20px 10px;
        background: #253874;
        margin-top: 3rem !important;
        padding-bottom: 1rem;
        color: white;
        /* min-height: 400px; */
    }
}