#HomepageContainer {
  max-width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#BackImageOverlay {
  overflow: hidden;
  height: 900px;
  width: 100%;
}

#BackImageOverlay img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation: zoomEffect 8s ease-in-out infinite;
}

#ContentContainer {
  position: absolute;
  width: 100%;
  top: 0%;
  /* height: 100%; */
  /* display: flex; */
  /* align-items: center; */
  z-index: 2;
}

#ContentContainer .ant-row {
  padding: 0rem 4rem;
  /* padding-top: 15rem; */
}

#MainUniqHeading {
  flex-direction: column;
  gap: 55px;
}

#MainUniqHeading span {
  font-size: 7rem;
  color: white;
  line-height: 100%;
  font-weight: 500;
  font-family: "Raleway", serif;
  padding-bottom: 0.5rem;
}

#MainUniqHeading span:first-child {
  color: #ff3030;
}

.blackoverlay {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 3;
  transition: 0.5s;
  background-color: rgb(0 0 0 / 89%);

}

.TaglineContainer {
  padding-top: 6rem;
}

.TaglineContainer hr {
  width: 0%;
  height: 1px;
  margin: 10px 0px;
  background-color: #ffffff;
  /* Color of the line */
  border: none;
  transition: width 1s ease;
  /* Optional transition for smoothness */
  animation: expandLine 3s forwards;
  /* Apply the animation */
}

@keyframes expandLine {
  0% {
    width: 0%;
    /* Start at 0% width */
  }

  100% {
    width: 100%;
    /* End at 100% width */
  }
}

.ButtonsContainer {
  display: flex;
  align-items: center;
  gap: 0rem 1rem;
  margin: 2rem 0rem;
}

#ContentContainer .AnimatedSVGContainer {
  padding: 0rem 4rem;
  padding-top: 5rem;
  display: flex;
  justify-content: end;
}

#ContentContainer .AnimatedSVGContainer>div {
  width: 50%;
}

.ScrollingLogoContainer {
  display: flex;
  justify-content: center;
  height: 100vh;
  display: flex;
  align-items: center;
}

.ScrollingLogoContainer img {
  width: 300px;
  border-radius: 20px;
}

.ScrollingLogoContainer h2 {
  color: #ffdf22;
  text-align: center;
  font-size: 4rem;
}

.HomePageContentContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 100%;
  /* width: 100%; */
  display: flex;
  /* padding-top: 150px; */
  z-index: 5;
  align-items: center;
  justify-content: center;
  /* padding-left: 40px; */
}

.HomePageContentContainer h1 {
  font-size: 40px;
  color: transparent;
  -webkit-text-stroke: 1px white;
  /* Combined shorthand for stroke color and width */
  font-weight: 600;
  margin: 0;
  line-height: 100px;
  /* padding-bottom: 80px; */
  text-align: center;
  /* position: absolute; */
  background: #bc252b47;
  padding: 0px 20px;
    border-radius: 20px;
}


.GrayElementBox {
  background-color: #ECECEC;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  border-radius: 36px;
}

.SANSONGraphicContainer {
  /* min-height: 500px; */
  width: 100%;
  background-color: white;
  /* position: absolute; */
  left: 0px;
  /* margin-left: -40px; */
  /* margin-top: 70px; */
  border-radius: 80px;
  display: flex;
  justify-content: center;
  /* margin-bottom: 120px; */
}

.SANSONGraphicContainer div {
  background-color: #253874;
  /* height: 500px; */
  /* width: 1; */
  /* border-radius: 20px; */
  /* margin-top: 0px !important; */
  /* margin: 30px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 80px 200px;
  width: 100%;
}

.SANSONGraphicContainer div p {
  text-align: center;
  color: white;
}

.BoxRowContainer {
  padding-top: 100px;
}

.carousel-image.visible {
  opacity: 1;
  z-index: 1;
}

.carousel-image.hidden {
  opacity: 0;
  z-index: 0;
}

@keyframes zoomEffect {
  0%, 100% {
    transform: scale(1); /* Normal size */
  }
  50% {
    transform: scale(1.06); /* Slightly zoomed in */
  }
}
@media (max-width: 900px) {
  .SANSONGraphicContainer div p {
    text-align: start;
    color: white;
  }
  .SANSONGraphicContainer {
    min-height: 100%;
    width: 100%;
    background-color: white;
    /* position: absolute; */
    left: 0px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 80px;
  }

  .GrayElementBox {
    background-color: #ECECEC;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    border-radius: 36px;
    display: none;
    /* hide Element */
  }

  .SANSONGraphicContainer div {
    background-color: #253874;
    /* height: 400px; */
    /* width: 1; */
    border-radius: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 20px;
  }


  .HomePageContentContainer h1 {
    font-size: 40px;
    color: #BC252B;
    font-weight: 600;
    margin: 0px;
    line-height: 70px;
    padding-left: 10px;
  }

  .HomeheadingContainer {
    width: 100%;
  }

  .HomePageContentContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 100%;
    /* width: 100%; */
    display: flex;
    padding-top: 0px;
    z-index: 5;
    padding-left: 0px;
  }

  .ScrollingLogoContainer {
    display: flex;
    justify-content: center;
    height: 65vh;
    display: flex;
    align-items: center;
  }


  .ButtonsContainer {
    display: flex;
    align-items: center;
    gap: 0rem 1rem;
    margin: 2rem 0rem;
    flex-direction: column;
    gap: 20px;
  }

  .ButtonsContainer button {
    width: 100%;
  }

  .ButtonsContainer .buttonStylefirst,
  .ButtonsContainer .buttonStyleSecond {
    padding: 1rem auto;
  }

  #ContentContainer .AnimatedSVGContainer {
    padding: 0rem 1rem;
    /* padding-top: 5rem; */
    display: flex;
    justify-content: end;
    /* display: none; */
  }

  #ContentContainer .ant-row {
    padding: 0rem 1rem;
    /* padding-top: 15rem; */
  }

  #MainUniqHeading span {
    font-size: 3.5rem;
    color: white;
    line-height: 100%;
    font-weight: 500;
    font-family: "Raleway", serif;
    padding-bottom: 0.5rem;
  }

}

@media (max-width:1100px) {

  #ContentContainer .AnimatedSVGContainer>div {
    width: 100% !important;
  }

  #ContentContainer .AnimatedSVGContainer {
    padding: 0rem 1rem;
    padding-top: 0rem;
    display: flex;
    justify-content: end;
  }

}