#NavigationContainer {
  /* padding: 2rem; */
  position: fixed;
  z-index: 5555555;
  width: 100%;
  background-color: transparent;
  top: 0px;
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#NavigationLink {
  margin-bottom: 0px !important;
  position: relative;
  transition: .5s;
  padding: 0px 5px;
  display: flex;
  justify-content: center;
}

#NavigationLink:hover {
  transform: translatey(-3px);
  transition: .5s;
}

#NavigationLink::before {
  content: "";
  height: 5px;
  background-color: transparent;
  border: 0.5px solid transparent;
  display: inline-block;
  opacity: 1;
  width: 0%;
  position: absolute;
  bottom: 0px;
  transition: .5s;
  border-radius: 10px;
}

#NavigationLink:hover::before {
  content: "";
  height: 5px;
  background-color: #f8c6d466;
  border: 0.5px solid #f8c6d466;
  display: inline-block;
  opacity: 1;
  width: 100%;
  position: absolute;
  bottom: 0px;
  transition: .5s;
  border-radius: 10px;
}


#NavigationLink a {
  font-size: 18px;
  transition: .5s;
  font-weight: 500;
  position: sticky;
}

#NavigationLink a:hover {
  padding-top: -10px;
  font-weight: 600;

}


.PcManuOnly {
  display: block;
}

.NavigationLogo img {
  width: 100px;
  border-radius: 10px;
  position: sticky;
  z-index: 10000000;
}

.logo-container {
  /* opacity: 0; */
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.logo-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.NavigationLogo.visible {
  opacity: 1;
  transform: translateY(0);
  transition: 0.5s;
}

.NavigationLogo.hidden {
  opacity: 0;
  transform: translateY(-20px);
  transition: 0.5s;
}

.ContainerNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  /* backdrop-filter: blur(10px); */
}

.red-link {
  color: #A5252B;
}

.green-link {
  color: green;
}

.LinksNavigation span {
  margin: 0px 10px;
  color: white;
}

.LinksNavigation span a {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

.LinksNavigation span a:hover {
  color: #A5252B;
  text-decoration: none;
  transition: 0.5s;
  transform: translateY(10px);
}



.MenuToggle svg {
  font-size: 30px;
  cursor: pointer;
  background-color: white;
  padding: 4px;
}

.SidePanel {
  display: flex;
  justify-content: space-between;
}

.SidePanel span a {
  /* color: red; */
  text-decoration: none;
  padding: 0 10px;
}

.MenuToggle {
  display: none;
}

.OnMoblilemenu {
  display: none !important;
}

.IncreaseBack {
  position: absolute;
  top: 0px;
}

@media (max-width:900px) {

  .MenuToggle {
    display: block;
  }

  .PcManuOnly {
    display: none !important;
  }
}

@media (max-width: 769px) {
  #NavigationContainer {
    /* padding: 2rem; */
    position: fixed;
    z-index: 5555555;
    width: 100%;
    background-color: transparent;
    top: 0px;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }

  #NavigationLink {
    margin-bottom: 20px !important;
    display: block !important;
  }



  #NavigationLink a {
    font-size: 20px;
    transition: .5s;
    color: black !important;
  }

  #NavigationLink a:hover {
    padding-left: 10px;
    transition: .5s;
  }


  .OnMoblilemenu {
    display: block;
  }

  .SidePanel {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 10vh;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }

  .SidePanel.show {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    height: 250px;
    background: white;
    left: 0;
    right: 0;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: end;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 0px 0px 20px 20px;
    border: 1px dashed #fd787a49;
  }

  .SidePanel span {
    padding: 10px 25px;
  }

  .SidePanel span a {
    color: rgb(0, 0, 0) !important;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.3s;
  }

  .SidePanel span a:hover {
    color: #A5252B;
  }

  .ContainerNavigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    backdrop-filter: blur(10px);
  }

  .NavigationLogo img {
    width: 100px;
    border-radius: 10px;
  }

  .MenuToggle {
    display: block;
    color: black;
    z-index: 10000;
  }

  .LinksNavigation {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }

  .LinksNavigation.show {
    display: flex;
  }

  .LinksNavigation span a {
    color: black;
  }
}