#ProductContainer {
  background-color: #ffffff;
  padding-top: 5rem;
}

#ProductContainer .SectionHeadingContainer {
  padding: 7rem 0rem !important;
  background-color: rgb(149, 179, 224);
}

.BannerContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  /* padding: 300px; */
}

.BannerContainer {
  height: 70vh;
  /* width: 100%; */
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
}

#ProductShowContainer {
  padding: 5rem 4rem;
}

.CategoriesFilters {
  position: sticky;
  top: 13%;
  /* height: 80vh; */
  /* width: 100%; */
  background-color: white;
  /* background-color: rgb(188 188 188 / 9%); */
  margin: 0px 20px;
  padding: 2rem 1rem;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
}

.CategoriesFilters .ant-tag {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.327);
  width: 80%;
}

#ProductCards {
  padding: 0px 20px;
}

#ProductsGrid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.ProductCardDesign {
  width: 33.33%;
}

.ProductCardDesign div {
  background-color: rgba(255, 0, 0, 0.089);
  max-width: 100%;
  height: 400px;
  margin: 10px;
}

.ProductCardDesign div h2 {
  margin-top: 0px;
}

#ProductCardRow .ant-col {
  padding: 5px;
}

.CategorieHeadingContainer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}

.CategorieHeadingContainer h2 {
  color: black;
  text-align: center;
}

.FilterCheckBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.FilterCheckBox .ant-checkbox-wrapper:nth-child(1) span,
.FilterCheckBox .ant-checkbox-wrapper:nth-child(2) span,
.FilterCheckBox .ant-checkbox-wrapper:nth-child(3) span,
.FilterCheckBox .ant-checkbox-wrapper:nth-child(4) span {
  font-weight: 500;
}

.FilterCheckBox .ant-checkbox-wrapper:nth-child(4) span {
  color: black;
}

.FilterCheckBox .ant-checkbox-wrapper:nth-child(4) span:first-child {
  opacity: 0;

}

.SearchAndAddons {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.SearchAndAddons>div {
  display: flex;
}

#ProductShowContainer .ant-input-affix-wrapper:focus-within {
  /* color: red; */
  border-color: #A5252B;
}

#ProductShowContainer .ant-input-affix-wrapper:hover {
  /* color: red; */
  border-color: #A5252B;
}

#ProductShowContainer .ant-input-affix-wrapper:focus {
  color: #A5252B;
  border-color: #A5252B !important;
}

#ProductShowContainer .ant-btn {
  color: #A5252Bed;
  /* height: 100%; */
  height: 40px;
}

#ProductShowContainer .ant-btn:hover {
  color: #A5252Bed;
  border-color: #A5252B;
}

#ProductShowContainer .ant-btn:focus {
  color: #A5252B;
  border-color: #A5252B;
}

#ProductButton button {
  height: 40px;
  width: 40px;
}

.ModalImageContainer {
  height: 300px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ModalImageContainer img {
  width: 70%;
  height: 100%;
  object-fit: cover;
}

.ProductSpecificationContainer>div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.ProductSpecificationContainer>div div {
  width: 100%;
  padding: 10px 0px;
  border-bottom: 1px solid #a5252b31;
}

.ProductSpecificationContainer>div div p {
  margin: 0px;
}

.ProductSpecificationContainer>div div:first-child p {
  font-weight: 600;
  display: flex;
  align-items: center;
}

.ProductSpecificationContainer>div div:first-child p svg {
  color: #A5252B;
}


.SpecsContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 2rem;
}

.SpecsContainer>div {
  padding: 10px 20px;
  border: 1px dashed #A5252B;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.SpecsContainer>div p {
  margin: 0px;
  font-weight: 600;
}

.SpecsContainer>div img {
  width: 30px;
}

.ColoursContainer .SpecsContainer {
  width: 50%;
  margin-bottom: 1rem;
}

.ColoursContainer .SpecsContainer>div {
  border: 1px dashed transparent;
}

.ant-modal-mask {
  backdrop-filter: blur(4px) !important;
}

@media (max-width: 769px) {
  .SearchAndAddons {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    position: sticky;
    top: 70px;
    z-index: 5;
  }

  .LayoutBtn {
    display: none !important;
  }

  .CategoriesFilters {
    position: sticky;
    top: 13%;
    /* height: 80vh; */
    /* width: 100%; */
    background-color: white;
    /* background-color: rgb(188 188 188 / 9%); */
    margin: 0px 20px;
    padding: 2rem 1rem;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
  }

  .SearchBarContainer {
    display: none !important;
  }

  .FilterCheckBox {
    flex-direction: row;
  }

  .BannerContainer img {
    width: 100%;
    height: unset;
    object-fit: cover;
    border-radius: 20px;
    padding: 000px;
  }

  .CategoriesFilters>div {
    height: 100px;
  }

  #ProductCardRow .ant-col {
    padding: 0px;
  }

  #ProductShowContainer {
    padding: 3rem 1rem;
  }

  #ProductShowContainer .ant-row .ant-col {
    width: 100%;
    /* margin: 5px 0px; */
    padding: 5px 0;
  }


  .BannerContainer {
    height: 40vh;
    /* width: 100%; */
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 10px;
  }
}



.ProductHeaderContainer {
  min-height: 500px;
  /* width: 100%; */
  background-color: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0px 40px;
}

.ProductHeaderContainer img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ProductHeaderContainer h1 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 0px;
  position: sticky;
  z-index: 4;
  color: white;
  margin-bottom: 0px;
}
#ProductContainer .CatalogueCardContainer {
  min-height: 350px;
}
.CatalogueCardContainer {
  background-color: white;
  min-height: 350px;
  height: 100%;
  /* margin: 20px 10px; */
  padding: 15px;
  border-radius: 10px;
  position: relative;
  /* border: 2px dashed #bc252a72; */
}

.CatalogueCardsContainer .ant-row .ant-col {
  padding: 20px 10px;
}

.CatalogueCardsContainer {
  padding: 80px 40px;
  padding-top: 5rem !important;
  /* margin-top: 5rem; */
}

.CatalogueImageContainer {
  height: 100%;
  width: 100%;
  /* background-color: #D9D9D9; */
  border-radius: 10px;
  /* padding: 10px; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ProductContainer .CatalogueImageContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.CatalogueImageContainer img {
  width: 350px;
  height: 350px;

  /* width: 280px; */
  /* height: 100%; */
  object-fit: contain;
}

.productTitleContainer {
  /* position: sticky; */
  color: white;
  /* bottom: 0px; */
  height: 100%;
  position: absolute;
  width: 100%;
  /* bottom: 0px; */
  left: 0px;
  top: 0px;
  display: flex;
  align-items: end;
  justify-content: center;
  /* padding: 7px 40px; */
}

.productTitleContainer p {
  color: black;
}

#ProductContainer .productTitleContainer h1 {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
}

.productTitleContainer h1 {
  color: #2f2b2b;
  font-size: 18px;
  text-align: center;
}

.CategoryCountContainer p {
  font-family: "Lato", serif;
}

.CategoryCountContainer p span {
  color: black;
  font-weight: bold;
}

.SectionInfoContainer {
  /* width: 100%; */
  background-color: transparent;
  border: 1px solid #e0e0e0;
  border-radius: 30px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 29px;
}

.SubCategoryProductsContainer .SectionHeadingContainer {
  padding: 7rem 0rem;
  background-color: rgb(149, 179, 224);
}

.SubCategoryProductsContainer {
  padding-top: 5rem;
}

.CatalogueCardContainer .CatalogueImageContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}

.CatalogueImageContainer img.product-image-hover {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  opacity: 0;
  /* Make the hover image invisible by default */
}

.CatalogueImageContainer:hover img.product-image-hover {
  opacity: 1;
  /* Show the hover image when the container is hovered */
}

.CatalogueImageContainer:hover img.product-image {
  opacity: 0;
  /* Hide the first image on hover */
}

@media (min-width:1500px) and (max-width:3000px) {
  .CatalogueCardsContainer {
    padding: 0rem 10rem;
    margin-top: 5rem;
  }
}

@media (max-width:769px) {
  .ProductHeaderContainer {
    min-height: 400px;
    /* width: 100%; */
    background-color: #D9D9D9;
    display: flex;
    align-items: end;
    padding: 0rem 1rem;
  }

  .CatalogueImageContainer {
    min-height: 200px;
    width: 100%;
    background-color: transparent;
    border-radius: 19px;
    padding: 0px;
  }

  .ProductHeaderContainer h1 {
    font-size: 50px;
    font-weight: 700;
    margin-top: 0px;
  }

  .CatalogueCardsContainer {
    padding: 0rem 1rem;
    margin-top: 5rem;
  }

  .CatalogueCardContainer {
    background-color: white;
    border: 2px dashed #bc252a72;
    /* min-height: 400px; */
    margin: 20px 00px;
    border-radius: 20px;
    /* border: 2px solid #000; */
  }


}