#ScrollingVideoAnimationContainer{
    padding-top: 5rem !important;
    padding: 0rem 4rem;
    overflow: hidden;
    /* padding-bottom: 5rem !important; */
    position: relative;
}
.AboutHomeHeader h2, .AboutHomeHeader{
    margin-bottom: 3cqb;
}
.AboutHomeHeader h2, .AboutHomeHeader p{
    text-align: center;
}
.AboutUsHomeImage img{
    width: 100%;
    border-radius: 20px;
}
.AboutHomeContent{
    display: flex;
    align-items: center;
    height: 100%;
}
.AboutHomeContent .InsideContainer{
    width: 80%;
    /* height: 100%; */
}

.InsideContainer button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #A5252B;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
    transition: .5s;
}

.InsideContainer button:hover {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #A5252B;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
    transform: scale(1.1);
    transition: .5s;
    cursor: pointer;
}