#SeedoCertificationContainer {
    padding-top: 5rem !important;
    padding: 0rem 4rem;
}

.LogoContainer img {
    width: 50%;
    aspect-ratio: 3/2;
    object-fit: contain;
    padding: 2rem;
    filter: grayscale(100%);
}



.LogoContainer {
    border: 1px solid rgb(239, 239, 239);
    display: flex;
    align-items: center;
    justify-content: center;
}

.LogoContainer:hover {
    border: 1px solid rgb(208, 208, 208);
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:769px){
    #SeedoCertificationContainer{
        padding-top: 2rem;
        padding: 0rem 1rem;
    }
}