#MissionVisionComponent {
    padding-top: 5rem !important;
    padding: 0rem 4rem;
    border-bottom: 1px solid #A5252B;
    padding-bottom: 5rem;
}

.SeedoLogoContainerImage img {
    width: 150px;
}

.SeedoLogoContainerImage {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

#MissionVisionComponent .ant-row .ant-col:hover {

    transition: .5s;
}

#MissionVisionComponent .ant-row .ant-col {
    /* padding: 20px; */
    transition: .5s;
    /* height: 100%; */
    border-radius: 10px;
    border: 1px solid transparent;
}
#MissionVisionComponent .ant-row .ant-col div{
    border: 1px solid transparent;
    padding: 10px;
    transition: .5s;
}
#MissionVisionComponent .ant-row .ant-col:hover div{
    border: 1px solid #A5252B;
    padding: 10px;
    transition: .5s;
    border-radius: 5px;
}

#MissionVisionComponent .ant-row .ant-col:nth-child(2) div {
    background-color: #A5252B;
    transition: .5s;
    border-radius: 5px;
}
#MissionVisionComponent .ant-row .ant-col:nth-child(2){
    margin-top: -3rem !important;
    transition: .5s;
}
#MissionVisionComponent .ant-row .ant-col:hover:nth-child(2){
    margin-top: -3rem !important;
    transition: .5s;

}
#MissionVisionComponent h2 {
    margin-bottom: 0px;
    margin-top: 0px;
    color: #A5252B;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}
#MissionVisionComponent p {
    text-align: center;
}








@media (max-width:769px) {
    #MissionVisionComponent .ant-row .ant-col:hover:nth-child(2){
        margin-top: 0rem !important;
        transition: .5s;
    }
    #MissionVisionComponent .ant-row .ant-col:nth-child(2){
        margin-top: 0rem !important;
        transition: .5s;
    }
    #MissionVisionComponent {
        padding-top: 2rem !important;
        padding: 0rem 1rem;
        border-bottom: 1px solid #A5252B;
        padding-bottom: 2rem;
    }
    .SeedoLogoContainerImage {
        display: flex;
        justify-content: center;
        margin-bottom: 0rem;
    }
    
} 