#ZoomCardsContainer {

    /* padding-top: 80px !important; */
    /* padding-top: 5rem !important; */
    padding: 80px 40px;
    overflow: hidden;
    /* padding-bottom: 5rem !important; */
    position: relative;
    /* padding-bottom: 80px !important; */
    /* background-color: rgb(247, 216, 101); */
}

#ZoomCardsContainer .ant-row {
    padding-bottom: 80px !important;
}

ul[class] {
    list-style-type: none;
    /* margin: 0; */
    padding: 0;
    justify-content: space-evenly;
}

.avatars li {
    position: relative;
    width: 150px;
    aspect-ratio: 1;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    cursor: pointer;
    transition: .3s;
    margin: 0rem 1rem;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 0.5px solid gray; */

    &:hover {
        z-index: 2;
        scale: 1.2;
        box-shadow: 0 0 1rem 0 rgb(0 0 0 / .1);
        transform: translateY(-20px);


        +li {
            scale: 1.01;
            transform: translateY(-10px);

            +li {
                scale: 1.01;
            }
        }
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50%;
        /* border: 1px solid black; */
        transform: scale(0);
        transition: transform 0.5s ease;
        z-index: -1;
    }

    &:hover::before {
        transform: scale(1);
    }

    &:has(+ li:hover) {
        scale: 1.01;
        transform: translateY(-10px);
    }

    &:has(+ li + li:hover) {
        scale: 1.01;
    }


}

@media (min-width:679px) and (max-width:900px) {
    .avatars li {
        margin-bottom: 6rem;
    }
}


@media (min-width:1500px) and (max-width:3000px) {
    #ZoomCardsContainer {

        /* padding-top: 80px !important; */
        /* padding-top: 5rem !important; */
        padding: 80px 150px;
        overflow: hidden;
        /* padding-bottom: 5rem !important; */
        position: relative;
        /* padding-bottom: 80px !important; */
        /* background-color: rgb(247, 216, 101); */
    }
}

@media (max-width:679px) {
    #ZoomCardsContainer .ant-row {
        padding-bottom: 20px !important;
    }

    .avatars li {
        margin-bottom: 6rem;
    }
}

.avatars li p {
    position: absolute;
    bottom: -80px;
    font-size: 17px;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.654);
    border-radius: 20px;
    padding: 5px 10px;
}

.avatars li img {
    width: 80%;
    object-fit: contain;
    aspect-ratio: 3/2;
}

.avatars {
    display: flex;
    gap: .75rem;
    margin-top: 8rem;
    /* overflow: hidden; */
}

.avatars li h5 {
    position: absolute;
    bottom: -38%;
    width: 100%;
    text-align: center;
}

.ViewMoreBtn {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.BackoverlayImage {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    object-fit: cover;
    /* margin-top: -12rem; */
    z-index: -1;

}


#ZoomCardsContainer .headingHeaderContainer h1 {
    font-size: 40px;
    /* text-align: center; */
    margin-top: 0px;
    /* margin-bottom: 0px; */
}

#ZoomCardsContainer .GrayCardContainer {
    height: 200px;
    width: 100%;
    /* background-color: #D9D9D9; */
    border-radius: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.GrayCardContainer img {
    width: 200px;
    aspect-ratio: 3/2;
    object-fit: contain;
}

/* #ClientSliderContainer .swiper-wrapper {
    display: flex;
    justify-content: center;
} */

/* #ZoomCardsContainer .ant-row .ant-col p {
    text-align: center;

} */

/* #ZoomCardsContainer .ant-row .ant-col a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
} */



.AboutSeedoContent {
    padding: 80px 40px;
}


.AboutSeedoContent div h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 0px;
}

.AboutSeedoContent div:first-child p {
    text-align: center;
    color: #BC252B;
    margin-bottom: 10px;
}

.AboutSeedoContent div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.AboutSeedoContent div:last-child p {
    width: 60%;
    text-align: center;
    color: black;
}
.AboutSeedoContent div:last-child div img{
    width: 70%;
    padding: 40px 0px;
}
@media (max-width:769px) {
    .GrayCardContainer img {
        width: 100%;
        aspect-ratio: 3/2;
        object-fit: contain;
    }
    
    .AboutSeedoContent div:last-child p {
        width: 100%;
        text-align: center;
        color: black;
    }
.AboutSeedoContent {
    padding: 80px 10px;
}

    #ZoomCardsContainer .headingHeaderContainer h1 {
        font-size: 40px;
        text-align: center;
        margin-top: 0px;
    }

   

    li {
        width: 30%;
    }

    .avatars {
        display: flex;
        flex-wrap: wrap;
        gap: .75rem;
        margin-top: 5rem;
        /* overflow: hidden; */
    }

    #ZoomCardsContainer {


        padding: 80px 10px !important;
        overflow: hidden;
        padding-bottom: 2rem !important;
        position: relative;
        /* background-color: rgb(247, 216, 101); */
    }

    .BackoverlayImage {
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        /* margin-top: -12rem; */
        z-index: -1;
        height: 100%;
        object-fit: cover;
    }

 
}


