#PosterShowGridContainer {
    padding-top: 5rem !important;
    padding: 0rem 4rem;
    overflow: hidden;
    padding-bottom: 5rem !important;
    position: relative;
}



.BannerShowInsideContainer .ant-row .ant-col:first-child .BannerContainerCommon {
    background-color: #a5252b;
    height: 30vh;
    border-radius: 10px;
    width: 100%;
}
.BannerShowInsideContainer .ant-row .ant-col:first-child{
    padding-right: 20px;
}

.BannerShowInsideContainer .ant-row .ant-col:last-child .BannerContainerCommon {
    background-color: #ffdf22;
    height: 30vh;
    width: 100%;
    border-radius: 10px;
}
.BannerShowInsideContainer .ant-row .ant-col:last-child{
    padding-left: 20px;
}