.SubCategoryContainer {
    padding-top: 4rem;
}

.SubcategoryHeader {
    min-height: 200px;
    width: 100%;
    background-color: #f4f4f470;
    /* padding: 0px 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}
.SubcategoryHeader h1{
    margin: 0px;
    font-size: 40px;
    border-bottom: 1px dashed black;
    border-top: 1px dashed black;
    padding: 10px 5px;
    background-color: #bc252b0a;
}

@media (max-width:900px){
    .SubcategoryHeader {
        min-height: 300px;
        width: 100%;
        background-color: #f4f4f470;
        padding:0rem 0rem;
        display: flex;
        align-items: end;
    }
    .SubcategoryHeader h1{
        margin: 0px;
        font-size: 50px;
    
    }
}