body {
  box-sizing: border-box;
  width: 100%;
  padding: 0px;
  margin: 0px;
  /* height: 600vh; */
  transition: .5s;
  scroll-behavior: smooth;
  font-family: "Raleway", serif;

}

/* h2{
  font-family: "Varela Round", serif;
} */
.CatalogueCardContainer .CatalogueImageContainer img {
  transition: .5s;
}

.CatalogueCardContainer:hover .CatalogueImageContainer img {
  transform: scale(1.1);
  transition: .5s;
}

.swiper-pagination-bullet-active {
  background-color: #bc252a !important;

}

.titleFont {
  font-size: 34px;
  position: relative;
  padding: 10px 20px;
  color: #2f2b2b;
  margin: 0px;
  position: sticky;
}

.titleFont::before {
  content: "";
  left: 0px;
  height: 15px;
  width: 100%;
  background-color: #f8c6d466;
  border-radius: 20px;
  display: inline-flex;
  position: absolute;
  z-index: -1;
  bottom: 11px;
}

.ProductCard ul li {
  font-size: 18px;
}

.ant-drawer {
  z-index: 10000000000;
}
@media (max-width:900px){

.titleFont {
  font-size: 34px;
  position: relative;
  padding: 10px 20px;
  color: #2f2b2b;
  margin: 0px;
  position: sticky;
  text-align: center;
}

}

::selection {
  background-color: #f8c6d466; /* Change to your preferred highlight color */
  color: #000; /* Change text color when highlighted */
}
