body {
  box-sizing: border-box;
  width: 100%;
  padding: 0px;
  margin: 0px;
  /* height: 600vh; */
  transition: .5s;
  scroll-behavior: smooth;
  font-family: "Raleway", serif;
}

/* h2{
  font-family: "Varela Round", serif;
} */
.CatalogueCardContainer .CatalogueImageContainer img {
  transition: .5s;
}

.CatalogueCardContainer:hover .CatalogueImageContainer img {
  transform: scale(1.1);
  transition: .5s;
}